h1{
    font-size: 2rem;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-weight: normal;
    font-family: cursive;
    background-color: black;
}
input{
    width: 250px;
    padding: 5px 10px;
    height: 30px;
    margin: 40px;
    border: 2px solid black;
}
button{
    padding: 6px 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}
.all-task{
    padding: 20px 40px;
    background-color: rgb(216, 213, 239);
}
.setAllTask{
    padding: 0 40px;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}
.setAllTask h5,button{
    margin: 10px 0;
}